server:
  port: 8888

spring:
  application:
    name: tt-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/mrTwice/2025-05-otus-spring-Yampolskiy-attestation.git
          default-label: tt-mvp
          search-paths:
            - config-repo
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.security: DEBUG